<h1>All veterinarians</h1>

<div class="container-sm mx-5 mb-4">
  <% @veterinarians.each do |vet| %>
    <div class="index-each">
      <h3><%= vet.name %></h3>
      <p>Rating: <%= vet.review_rating %></p>
      <p>Practice: <%= vet.office_name %></p>
      <%= render partial: 'partials/index_edit_delete', locals: { name: vet.name, edit_path: "/veterinarians/#{vet.id}/edit", delete_path: "/veterinarians/#{vet.id}"} %>
    </div>
  <% end %>
</div>
