<h1><%= @application.name %></h1>

<p>Address: <%= @application.display_address %></p>
<p>Summary statement: <%= @application.description %></p>
<p>Application status: <%= @application.display_status %></p>
