<h1><%= @application.name %></h1>

<p><b>Address:</b> <%= @application.display_address %></p>
<p><b>Summary statement:</b> <%= @application.description %></p>
<p><b>Application status:</b> <%= @application.display_status %></p>
