<h1>Adopt, don't shop!</h1>

<div class="container-sm mx-5 mb-4">
  <div class="row">
    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/pet_3.jpg" alt="Dog">
        <div class="card-body">
          <h5 class="card-title">Pets</h5>
          <p class="card-text">Find your best new furry friend.</p>
          <a href="/pets" class="btn btn-primary">Find a pet</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/shelter.jpg" alt="Dog in kennel">
        <div class="card-body">
          <h5 class="card-title">Shelters</h5>
          <p class="card-text">Explore our wonderful shelters.</p>
          <a href="/shelters" class="btn btn-primary">Explore shelters</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/veterinarian.jpg" alt="Vet holding dog">
        <div class="card-body">
          <h5 class="card-title">Veterinarians</h5>
          <p class="card-text">Find the a friendly vet.</p>
          <a href="/veterinarians" class="btn btn-primary">Find a vet</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/vet_office.jpg" alt="Dog with cone from the vet">
        <div class="card-body">
          <h5 class="card-title">Veterinary Offices</h5>
          <p class="card-text">Select a location near you.</p>
          <a href="/veterinary_offices" class="btn btn-primary">Explore offices</a>
        </div>
      </div>
    </div>
  </div>
</div>
