<h1>Adopt, don't shop!</h1>

<div class="container-sm mx-5">
  <div class="row">
    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" src="assets/garden.jpg" alt="Garden"> -->
        <div class="card-body">
          <h5 class="card-title">Pets</h5>
          <p class="card-text">Find your best new furry friend.</p>
          <a href="/gardens" class="btn btn-primary">Find a pet</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" src="assets/plot.jpg" alt="Community garden plots"> -->
        <div class="card-body">
          <h5 class="card-title">Shelters</h5>
          <p class="card-text">Explore our wonderful shelters.</p>
          <a href="/plots" class="btn btn-primary">Explore shelters</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" src="assets/flower_shop.jpg" alt="Flower shop"> -->
        <div class="card-body">
          <h5 class="card-title">Veterinarians</h5>
          <p class="card-text">Find the a friendly vet.</p>
          <a href="/flower_shops" class="btn btn-primary">Find a vet</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" src="assets/flower.jpg" alt="Yellow flowers"> -->
        <div class="card-body">
          <h5 class="card-title">Veterinary Offices</h5>
          <p class="card-text">Select a location near you.</p>
          <a href="/flowers" class="btn btn-primary">Explore flowers</a>
        </div>
      </div>
    </div>
  </div>
</div>
