<div class="container-sm mx-5">
  <h1>Shelters</h1>

  <div id="all-shelters">
    <h2>All Shelters</h2>
    <% @reverse_shelters.each do |shelter| %>
      <div id="shelter-<% shelter.id %>">
        <h3><%= link_to shelter.name, "/admin/shelters/#{shelter.id}", method: :get, local: true %></h3>
      </div>
    <% end %>
  </div>

  <div id="shelters-pending">
    <h2>Shelters with Pending Applications</h2>
    <% @shelters_with_pending_apps.each do |shelter| %>
      <div id="shelter-<% shelter.id %>">
        <h3><%= link_to shelter.name, "/admin/shelters/#{shelter.id}", method: :get, local: true %></h3>
      </div>
    <% end %>
  </div>
</div>
