<h1><%= @shelter_name %></h1>

<p><%= @shelter_city %></p>

<div>
  <h3>Shelter Stats:</h3>
  <p>Pets available: <%= @shelter.adoptable_pet_count %>
  <p>Average age of available pets: <%= @shelter.avg_adoptable_pet_age %></p>
</div>
